h1 {
  font-size: 5vh;
}
.tudo {
  margin: 2vh 10vh 2vh 15vh;
  padding: 1vw;
  height: 75vh;
  width: 85vw;
  border: rgb(101, 101, 101) 0.3vw solid;
  padding-bottom: 15vh;
}
.azul {
  display: inline-block;
  background-color: rgb(188, 225, 241);
  border: 0.2vw solid rgb(34, 34, 255);
  height: 6vh;
  width: 6vh;
  margin: 2vw;
  padding: 2vw;
  text-align: center;
  font-size: 6vh;
}
.ponto {
  position: relative;

  font-size: 10vh;

  display: inline-block;

  top: 42px;
}
.baixo {
  text-align: right;
}
